.gallery {
  margin: 120px 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.galleryItem {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.galleryItem:hover {
  transform: scale(1.04);
}
