.button {
  font-size: 20px;
  padding: 0 20px;
  background-color: #ffa7a7;
  border: 3px solid #ffa7a7;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  height: 50px;
  width: 200px;
  font-family: inherit;
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}

.button:hover {
  background-color: #fff;
  color: #ffa7a7;
}
